<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content" id="main" class="main">

    <div class="pagetitle">
        <h1>Le Type de Compte </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Administrateur </a></li>
                <li class="breadcrumb-item">Compte</li>
                <li class="breadcrumb-item active">Type</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section ">
        <div class="row m-auto">
            <div class="col-lg-6 ">
                <div class="card m-auto">
                    <div class="card-body">
                        <h5 class="card-title">Type de compte </h5>

                        <form method="post" th:action="@{/comptes/getCompteType}">
                            <div class="form-group">
                                <label for="roleSelect">Selectionner le role:</label>
                                <select class="form-control" id="roleSelect" name="roleId">
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                            th:text="${role.name}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>